/*blue:	#002db3*/

html, form, div, label, body, h1, h2, h3, ul, li,
table, tr, th, a, header, nav, span, button,
footer, section, input, p, select, option {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

body {
  width: 100%;
  margin: auto;
}

canvas {
  background-image: url("./images/milky_way.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
}

.side-bar {
  max-width: 270px;
  min-width: 270px;
}

.screen {
  flex-grow: 1;
}

/* sidebar logo */
.side-bar-logo {
  background-color: #002db3;
  padding: 25px 0 15px 0;
  background: #002db3; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#002db3, #b3d1ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#002db3, #b3d1ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#002db3, #b3d1ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#002db3, #b3d1ff); /* Standard syntax */
}

.side-bar-logo-name {
  font-family: 'Baloo';
  font-size: 37px;
  color: white;
  vertical-align: -webkit-baseline-middle;
  text-shadow: 3px 3px 1px black;
}

img#side-bar-note {
  width: 25px;
  height: auto;
  margin-left: 50px;
  transform: rotate(15deg);
}

/* song selection */
.song-container {
  padding: 30px 20px;
  border-top: 5px solid #002db3;
  border-bottom: 5px solid #002db3;
}

.song-selection-title {
  font-family: 'Baloo';
  font-size: 25px;
  color: #002db3;
  text-align: center;
  margin-bottom: 15px;
}

.song-selection, .song-selection-last {
  cursor: pointer;
  font-family: 'Baloo';
  font-size: 14px;
  color: white;
  padding: 10px 15px;
  margin-bottom: -2px;
  width: 230px;
  border-radius: 10px;
  border: 2px solid #002db3;
  background: #0036e6; /* Old browsers */
  background: -moz-linear-gradient(top, #ccd8ff 0%, #4d76ff 24%, #0036e6 50%, #3363ff 79%, #668aff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ccd8ff 0%, #4d76ff 24%, #0036e6 50%, #3363ff 79%, #668aff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ccd8ff 0%, #4d76ff 24%, #0036e6 50%, #3363ff 79%, #668aff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd8ff', endColorstr='#668aff',GradientType=0 ); /* IE6-9 */

/* buttons with no shine
  background: #b3d1ff; //For browsers that do not support gradients
  background: -webkit-linear-gradient(white, #b3d1ff); // For Safari 5.1 to 6.0
  background: -o-linear-gradient(white, #b3d1ff); // For Opera 11.1 to 12.0
  background: -moz-linear-gradient(white, #b3d1ff); // For Firefox 3.6 to 15
  background: linear-gradient(white, #b3d1ff); // Standard syntax
*/
}

.song-selection-last {
  border-bottom: 2px solid #002db3;
}

.song-selection:hover, .song-selection-last:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 2.5px #888888;
  transition: 0.2s;
}

/* sidebar instruction button */
.instructions-button {
  font-family: 'Baloo';
  font-size: 30px;
  color: #002db3;
  margin: 20px 0 0 43px;
  width: 180px;
  padding: 10px 0 6px 0;
  text-align: center;
  transition: 1s;
  cursor: pointer;
}

.instructions-button:hover {
  transform: scale(1.1);
  text-shadow: 5px 5px 2.5px #888888;
}

/* sidebar footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 220px;
  margin: 0 25px 20px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.github, .linkedin {
  width: 40px;
  height: 40px;
  cursor: pointer;
  align-self: center;
  transition: 0.5s;
}

.github:hover, .linkedin:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


/* instruction modal */
.instruction-header {
  font-family: 'Baloo';
  font-size: 30px;
  width: 100%;
  padding: 0 30px;
}

.instruction-section-header {
  font-family: 'Baloo';
  font-size: 20px;
  margin: 25px 30px 0 30px;
  padding: 5px;
  text-align: center;
  background-color: #b3d1ff;
  border-radius: 7px;
}

.instruction-text, .instruction-text-keyboard {
  font-family: 'Baloo';
  font-size: 16px;
  align-items: center;
  margin: 0 50px;
  text-align: center;
  color: black;
}

.instruction-text {
  padding-top: 10px;
}

.instruction-text-keyboard {
  padding-top: 15px;
}

div#instruction-display {
  position: absolute;
  display: block;
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  font-family: 'Baloo';
  font-size: 25px;
  color: #002db3;
  align-items: center;
  margin: auto;
  width: 560px;
  text-align: center;
  opacity: 0;
  z-index: -1;
}

div#instruction-display.visible {
  top: 100px;
  opacity: 1;
  z-index: 2;
}

.hand-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 40px;
}

.keyboard-pic {
  margin-top: 5px;
  width: 400px;
  align-items: center;
}

.right-hand, .left-hand {
  margin-bottom: 10px;
}

.hand-controls-pic {
  margin-top: 5px;
  max-height: 100px;
  width: auto;
  align-items: center;
}

/* logo in game display */
.logo {
  position: absolute;
  top: 300px;
  display: inline-block;
  height: 70px;
  z-index: 1;
}

.logo-name {
  font-family: 'Baloo';
  font-size: 50px;
  color: white;
  vertical-align: -webkit-baseline-middle;
  text-shadow: 3px 3px 1px black;
}

img#note {
  width: 35px;
  height: auto;
  margin-left: 30px;
  transform: rotate(15deg);
}

/* song display modal */
div#song-display {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  top: -550px;
  z-index: -1;
  color: black;
  width: 560px;
  height: auto;
  margin: auto;
  opacity: 0;
  transition: opacity 2s, top 2s;
}

div#song-display.active {
  top: 100px;
  opacity: 1;
  z-index: 1;
}

div#song-notes {
  padding-bottom: 20px;
}

.song-line {
  text-align: center;
}

.song-title {
  font-family: 'Baloo';
  font-size: 30px;
  color: #002db3;
  text-align: center;
  margin: 20px 0;
}

.song-letter {
  display: inline-block;
  font-family: 'Baloo';
  font-size: 17px;
  color: black;
  width: 65px;
  padding: 10px 0;
  text-align: center;
}

.song-letter1 {
  display: inline-block;;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 5px;
}

div#close-song-div {
  height: 15px;
}

/* close buttons */
button#close {
  float: right;
  font-family: 'Baloo';
  font-size: 20px;
  font-weight: 900;
  width: auto;
  height: auto;
  padding: 5px 10px 5px 0;
  cursor: pointer;
}

button#close:hover {
  color: red;
}
