html, form, div, label, body, h1, h2, h3, ul, li,
table, tr, th, a, header, nav, span, button,
footer, section, input, p, select, option {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

canvas {
  background-image: url("./images/milky_way.jpg");
  background-size: 100% 100%;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  border: 5px solid #002db3;
}

.side-bar {
  max-width: 300px;
  min-width: 300px;
}

.screen {
  flex-grow: 1;
}

.song-selection {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}

.song-selection:hover {
  background-color: #002db3;
  color: white;
  width: 100%;
}

.instructions {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.instructions1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
}

.keyboard-pic {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  width: 90%;
  align-items: center;
}

div#song-display {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  top: 0;
  left: 800px;
  z-index: 1;
  color: black;
  width: 400px;
  height: 500px;
  /*align-content: center;*/
  margin: auto;
  /*opacity: 0;*/
  transition: top 1s;
}

div#song-display.active {
  top: 200px;
  left: 800px;
  z-index: 1;
  opacity: 1;
}

.song-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.song-letter {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: black;
  width: 20px;
  height: 20px;
  padding: 0 15px 0 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.song-letter1 {
  display: inline-block;;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 5px;
}

.close-song-display {
  align-self: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 900;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 5px;
}

/*blue:	#002db3*/

/*
font-family: 'Coming Soon', cursive;


font-family: 'Roboto', sans-serif;*/
